./EarthEngineWorkshop/Videos/SearchBar.gif
./EarthEngineWorkshop/Videos/openscript.gif
./EarthEngineWorkshop/Videos/ImportingAssets.mp4
./EarthEngineWorkshop/Videos/ImportingAssets.gif
./EarthEngineWorkshop/Videos/inspector.webm
./EarthEngineWorkshop/Videos/inspector.gif
./EarthEngineWorkshop/Videos/console.webm
./EarthEngineWorkshop/Videos/console.gif
./EarthEngineWorkshop/Videos/MapPane.webm
./EarthEngineWorkshop/Videos/MapPane.gif
