.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-align: center;
}

.reveal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black
}